.about-me {
  display: flex;
  align-items: center;
  gap: 6em;
  margin-bottom: 20px;
  padding-top: 45px;

  .about-me-text {
    h1 {
      font-size: 45px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
    }

    .links {
      a img {
        width: 35px;
      }
    }
  }

  .about-me-image {
    display: flex;
    align-items: center;
    width: 512px;
    height: 512px;

    img {
      width: 25vw;
    }
  }

  @media(max-width: 768px) {
    flex-direction: column-reverse;
    gap: 0;

    .about-me-text {
      text-align: center;
    }

    .about-me-image {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
