<div class="float-menu">
  <nav class="menu-nav">
    <div class="menu-item" (click)="goTo('')">
      <span>Home</span>
    </div>
    <div class="menu-item" (click)="goTo('about')">
      <span>About</span>
    </div>
    <div class="menu-item" (click)="changeTheme()">
      <span *ngIf="!darkModeService.isDarkMode()">
        <img src="../../../assets/images/moon-svgrepo-com.svg">
      </span>
      <span *ngIf="darkModeService.isDarkMode()">
        <img src="../../../assets/images/sun-2-svgrepo-com.svg">
      </span>
    </div>
  </nav>
</div>
