.project-component-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  gap: 0 45px;

  .projects-componet {
    justify-content: center;
    gap: 10px;

    .project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .project-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        .project-header {
          gap: 13px;
          display: flex;
          flex-direction: column;
          color: var(--textColor);

          .project-logo {
            width: 30px;

            img {
              width: 100%;
            }
          }

          .project-title {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 1em;
            padding-top: 15px;
          }
        }

        .project-body {
          color: var(--textColor);

          .project-status {
            margin-top: 10px;
            font-weight: bolder;

            .project-status-text {
              color: green;
            }
          }
        }

        .project-links {
          display: flex;
          gap: 10px;
          align-items: center;
          display: flex;
          font-size: 12px;
          padding-top: 20px;
          font-weight: 700;

          a {
            text-decoration: none;
            color: var(--textColor);
            font-size: 12px;
          }
        }
      }
    }
  }
}
