<div class="about-page-container">
  <div class="about-page-info">
    <div class="about-page-info-text">
      <h1>Hello! I'm Bruno, I live in São Paulo and I'm a Software Architect</h1>
      <span>I've worked on a variety of projects over the years and I'm proud of the progress I've made. Many of these
        projects are open-source and available for others to explore and contribute to. If you're interested in any of
        the projects I've worked on, please feel free to check out the code and suggest any improvements or enhancements
        you might have in mind. Collaborating with others is a great way to learn and grow, and I'm always open to new
        ideas and feedback.</span>
      <div class="about-page-links">
        <a href="" target="_blank">
          <img src="../assets/images/linkedin-svgrepo-com.svg">
        </a>
        <a href="" target="_blank">
          <img src="../assets/images/github-svgrepo-com.svg">
        </a>
      </div>
    </div>
    <div class="about-page-info-image">
      <img src="../assets/images/bbizeray.png" alt="Profile Picture" />
    </div>
  </div>
</div>
