<div class="about-page-container">
  <div class="about-page-info">
    <div class="about-page-info-text">
      <h1>Hello! I'm Bruno, I live in São Paulo and I'm a Software Architect</h1>
      <span>Specialist in Software Architecture, with over 6 years of experience in software development and 3 years of
        experience specifically in architecture. Leading teams to create scalable and secure solutions while automating
        processes to boost operational efficiency..</span>
      <div class="about-page-links">
        <a href="" target="_blank">
          <img src="../assets/images/linkedin-svgrepo-com.svg">
        </a>
        <a href="" target="_blank">
          <img src="../assets/images/github-svgrepo-com.svg">
        </a>
      </div>
    </div>
    <div class="about-page-info-image">
      <img src="../assets/images/bbizeray.png" alt="Profile Picture" />
    </div>
  </div>
</div>
