$bgColor_light: #FAFAFAFA;
$bgColor_dark: #3c3c3c;

$bgPanel_light: white;
$bgPanel_dark: #2c2c2c;

$textColor_light: #65656d;
$textColor_dark: white;

@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --bgPanelCoolor: #{$bgPanel_light};
  --textColor: #{$textColor_light};
}

@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --bgPanelCoolor: #{$bgPanel_dark};
  --textColor: #{$textColor_dark};
}

body.dark {
  @include darken();
}

body {
  @include lighten();
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: var(--bgColor);
}

p,
span {
  color: var(--textColor);
  font-size: 15px;
}
